---
- name: Hardening Host Machines
  hosts: all
  remote_user: "{{ ansible_user | default('ec2-user') }}"
  become: true
  become_method: sudo
  become_user: root
  connection: ssh

  vars_files:
    - vault.yaml
  
  tasks:
    - name: setup sudo password for ec2-user (Amazon Linux)
      user:
        name: ec2-user
        password: "{{ ec2_user_password | password_hash('sha512') }}"
      when: ansible_facts['distribution'] == 'Amazon'
      
    - name: setup sudo password for root user
      user:
        name: root
        password: "{{ root_password | password_hash('sha512') }}"

    - name: Create sysadmin user
      user:
        name: sysadmin
        comment: System Administrator
        shell: /bin/bash
        state: present
        create_home: yes
        password: "{{ sysadmin_password | password_hash('sha512') }}"
        groups: "{{ 'wheel' if ansible_facts['os_family'] == 'RedHat' else 'sudo' }}"
        append: yes

    - name: Ensure firewalld is installed (Amazon Linux/RedHat)
      yum:
        name: firewalld
        state: present
      when: ansible_facts['os_family'] == 'RedHat'

    - name: Ensure firewalld is running and enabled (Amazon Linux/RedHat)
      service:
        name: firewalld
        state: started
        enabled: yes
      when: ansible_facts['os_family'] == 'RedHat'

    - name: Open SSH port in firewalld (Amazon Linux/RedHat)
      firewalld:
        service: ssh
        permanent: yes
        state: enabled
        immediate: yes
      when: ansible_facts['os_family'] == 'RedHat'

    - name: Open HTTP port in firewalld (Amazon Linux/RedHat)
      firewalld:
        service: http
        permanent: yes
        state: enabled
        immediate: yes
      when: ansible_facts['os_family'] == 'RedHat'

    - name: Set firewalld default zone target to DROP
      firewalld:
        state: enabled
        zone: public
        target: DROP
        permanent: yes
      when: ansible_facts['os_family'] == 'RedHat'

    - name: Reload firewalld (Amazon Linux/RedHat)
      service:
        name: firewalld
        state: reloaded
      when: ansible_facts['os_family'] == 'RedHat'

    - name: Ensure UFW is installed (Debian/Ubuntu)
      apt:
        name: ufw
        state: present
        update_cache: yes
      when: ansible_facts['os_family'] == 'Debian'

    - name: Set default UFW policies (Debian/Ubuntu)
      ufw:
        state: reset
      when: ansible_facts['os_family'] == 'Debian'
    - ufw:
        direction: incoming
        policy: deny
      when: ansible_facts['os_family'] == 'Debian'
    - ufw:
        direction: outgoing
        policy: allow
      when: ansible_facts['os_family'] == 'Debian'

    - name: Allow SSH through UFW (Debian/Ubuntu)
      ufw:
        rule: allow
        name: OpenSSH
      when: ansible_facts['os_family'] == 'Debian'

    - name: Allow HTTP through UFW (Debian/Ubuntu)
      ufw:
        rule: allow
        port: '80'
        proto: tcp
      when: ansible_facts['os_family'] == 'Debian'

    - name: Enable and restart UFW (Debian/Ubuntu)
      service:
        name: ufw
        state: restarted
        enabled: yes
      when: ansible_facts['os_family'] == 'Debian'
      notify: Reload UFW 

    - name: Disable root SSH login
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^PermitRootLogin'
        line: 'PermitRootLogin no'
        state: present
      notify: Restart SSH
    
    - name: Disable password authentication for SSH
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^PasswordAuthentication'
        line: 'PasswordAuthentication no'
        state: present
      notify: Restart SSH

    - name: Install Fail2Ban (Debian/Ubuntu)
      apt:
        name: fail2ban
        state: present
        update_cache: yes
      when: ansible_facts['os_family'] == 'Debian'

    - name: Install Fail2Ban (Amazon Linux/RedHat)
      yum:
        name: fail2ban
        state: present
      when: ansible_facts['os_family'] == 'RedHat'

    - name: Ensure Fail2Ban is running and enabled
      service:
        name: fail2ban
        state: started
        enabled: yes
      when: ansible_facts['os_family'] in ['RedHat', 'Debian']
    
    - name: Copy default Fail2Ban configuration
      copy:
        src: /etc/fail2ban/jail.conf
        dest: /etc/fail2ban/jail.local
        remote_src: yes
      notify: Restart Fail2Ban
      when: ansible_facts['os_family'] in ['RedHat', 'Debian']

    - name: Configure Fail2Ban bantime for SSH
      lineinfile:
        path: /etc/fail2ban/jail.local
        regexp: '^bantime'
        line: 'bantime = 3600'
        state: present
      when: ansible_facts['os_family'] in ['RedHat', 'Debian']

    - name: Configure Fail2Ban maxretry for SSH
      lineinfile:
        path: /etc/fail2ban/jail.local
        regexp: '^maxretry'
        line: 'maxretry = 5'
        state: present
      when: ansible_facts['os_family'] in ['RedHat', 'Debian']

    - name: Configure Fail2Ban findtime for SSH
      lineinfile:
        path: /etc/fail2ban/jail.local
        regexp: '^findtime'
        line: 'findtime = 600'
        state: present
      notify: Restart Fail2Ban
      when: ansible_facts['os_family'] in ['RedHat', 'Debian']
    
    - name: Copy sysconf_backup.sh to /root/
      copy:
        src: sysconf_backup.sh
        dest: /root/sysconf_backup.sh
        mode: '0755'
    
    - name: Run sysconf_backup.sh script
      command: /root/sysconf_backup.sh
      register: backup_output

    - name: Show backup file path
      debug:
        msg: "Backup created at {{ backup_output.stdout }}"
    
    - name: Check if sysconf_backup.sh ran successfully
      file:
        path: "{{ backup_output.stdout }}"
        state: file

    - name: Require password for ec2-user sudo (Amazon Linux)
      lineinfile:
        path: /etc/sudoers.d/90-cloud-init-users
        regexp: '^ec2-user ALL=' 
        line: 'ec2-user ALL=(ALL) ALL'
        state: present
      when: ansible_facts['distribution'] == 'Amazon'

  handlers:
    - name: Restart SSH
      service:
        name: "{{ 'sshd' if ansible_facts['os_family'] == 'RedHat' else 'ssh' }}"
        state: restarted
    
    - name: Reload UFW
      command: ufw reload
      when: ansible_facts['os_family'] == 'Debian'

    - name: Restart Fail2Ban
      service:
        name: fail2ban
        state: restarted
      when: ansible_facts['os_family'] in ['RedHat', 'Debian']